<div class="container">
  <div class="jumbotron">
    <h1 class="display-1 text-center">TODO APP <sup>V1.0</sup></h1>
    <p class="lead text-center">This is a todos app. You can use it for shedule your dayli tasks.</p>
    <hr class="my-4">
    <p>Technologies used for making this app:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Bootstrap & <a href="https://bootswatch.com/flatly/">Bootwatch Theme (flatly)</a>
      <li>Angular 6</li>
      <li>MongoDB</li>
    </ul>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://dipto0321.github.io" role="button">About Me!</a>
    </p>
  </div>
</div>